html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    width: 100%;
    background-color: #101010;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


/**************************** Custom styles *********************************/

.background-mosaic {
    background-image: url(../images/bg.jpg);
    color: white;
}

form#login-form .form-group.field-loginform-rememberme {
    color: gray;
}

.first-container {
    padding-top: 51px;
}

.head-search {
    display: table;
    background-image: url(../images/bg.jpg);
    min-height: 350px;
    width: 100%;
}

.form-ask {
    display: table-cell;
    vertical-align: middle;
}

.full-width {
    width: 100% !important;
}

.form-ask > h1 {
    color: #9d9d9d;
    /*width: 90%;*/
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.form-ask form .form-group {
    margin-top: 20px;
}

/*Estilos por pregunta*/

.question-item {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.question-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.15em;
}

.category, .gray-color {
    color: #959393;
}

.useful span {
    color: green;
}

.views span {
    color: #008cc6;
}

/*Fin estilos por preguntas*/